<form>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)" align="center">
        <input hidden type="file" #fileInput (change)="uploadDocument($event)">
    </div>
    <div *ngIf="is_loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="files-list" *ngFor="let file of files;let i= index">
        <p> {{ file.file_path }} </p>
        <button class="delete-file" (click)="deleteAttachment(file)">
            <mat-icon class="material-icons">delete</mat-icon>
        </button>
    </div>
</form>