
    <mat-toolbar id="appToolbar" class="toolbar-filler">
      <button md-icon-button (click)="onToggleBar()" class="md-icon-button sidenav-toggle-button">
        <mat-icon aria-label="Menu" class="material-icons" >menu</mat-icon>
      </button>
      <h1 class="component-title">
        <a class="title-link">SAAS</a>
      </h1>
      <span class="toolbar-filler"></span>
      <button id="button-logout" md-button class="sidenav-toggle-button" *ngIf="isAuth" (click)="logout()">注销</button>
    </mat-toolbar>   