<div class="container-fluid" *ngIf="!isDetail">
    <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li>客户列表</li>
    </ul>
    <div class="row">
        <div class="col-2">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['company_name']" placeholder="公司名称" list="company_name_list">
            </mat-form-field>
            <datalist id="company_name_list">
                <option value="{{customer.company_name}}" *ngFor="let customer of customers">
                </option>
            </datalist>
        </div>
        <div class="col-2">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['sales_fullname']" placeholder="销售姓名" list="sales_list">
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['accounting_fullname']" placeholder="会计姓名">
            </mat-form-field>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-6">
                    <button mat-raised-button (click)="onSearch()">搜索</button>
                </div>
                <div class="col-6">
                    <button mat-raised-button (click)="onRefresh()">刷新</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <mat-paginator [length]="Pagelength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPaging($event)">
            </mat-paginator>
        </div>
    </div>
    <div class="row mx-2">
        <table mat-table [dataSource]="customers" class="mat-elevation-z8 table" *ngIf="!is_loading">
            <ng-container matColumnDef="selected">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef> 公司名称 </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/customers/view/{{element.id}}">{{element.company_name}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="contact_fullname">
                <th mat-header-cell *matHeaderCellDef> 客户姓名 </th>
                <td mat-cell *matCellDef="let element">
                    {{element.contact_fullname}}
                </td>
            </ng-container>
            <ng-container matColumnDef="sales_fullname">
                <th mat-header-cell *matHeaderCellDef> 销售姓名 </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sales_fullname}}
                </td>
            </ng-container>
            <ng-container matColumnDef="accounting_fullname">
                <th mat-header-cell *matHeaderCellDef> 会计姓名 </th>
                <td mat-cell *matCellDef="let element"> {{ element.accounting_fullname }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <mat-paginator [length]="Pagelength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPaging($event)">
            </mat-paginator>
        </div>
    </div>

</div>
<!--details-->
<div class="container-fluid" *ngIf="isDetail">
    <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="customers/list">客户列表</a></li>
        <li>客户详情</li>
    </ul>
    <mat-card class="example-card container">
        <div>
            <mat-icon aria-label="Edit" class="material-icons float-right" (click)="onEdit()" *ngIf="!isEdit">edit
            </mat-icon>
        </div>
        <app-customer [job]="selectedJob" [users]="users" [isEdit]="isEdit"></app-customer>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0"
            *ngIf="isEdit">
            <button mat-raised-button (click)="onSave()">保存</button>
            <button mat-raised-button (click)="onCancel()">取消</button>
        </div>
    </mat-card>
</div>
<br>