<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-12 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">用户登录</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" (ngSubmit)="onSubmit()">
                                <p><mat-form-field class="form-full-width">
                                    <input matInput placeholder="用户名" [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="usernameFormControl.hasError('required')">
                                        请输入用户名
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="form-full-width">
                                    <input matInput type="password" placeholder="密码" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                                            请输入密码
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-error *ngIf='!isAuth'>错误的用户名或密码</mat-error>
                            </p>

                            <mat-progress-spinner
                            class="spinner-1"
                            color="accent"
                            mode="indeterminate"
                            diameter="40"
                            value=30 *ngIf="isLoading">
                        </mat-progress-spinner>
                                <button mat-raised-button class="float-right" >登录</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->