<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            </div>
            <div class="col-9">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaging($event)">
                </mat-paginator>
            </div>
        </div>
    <div class="row">

    </div>  
    <div class="row">
        <div class="col-3">
            </div>
            <div class="col-9">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaging($event)">
                </mat-paginator>
            </div>
        </div>
    
    </div>