<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <button class="btn-add" mat-mini-fab aria-label="添加" (click)="onAdd()">
                <mat-icon aria-label="Add new" class="material-icons">add</mat-icon>
            </button>
            </div>
            <div class="col-9">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaging($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="row mx-2">
            <table mat-table [dataSource]="data" class="mat-elevation-z8 table" *ngIf="!is_loading">
                <ng-container matColumnDef="id">
               <th mat-header-cell *matHeaderCellDef> 序号 </th>
               <td mat-cell *matCellDef="let element">
                   {{element.id}}
               </td>
                </ng-container>
                <ng-container matColumnDef="company_name">
                    <th mat-header-cell *matHeaderCellDef> 公司名称 </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-link btn-sm" (click)="openDialog(element.id)">{{element.customer.company_name}}</button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> 记账类别 </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.type_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="accounting_fullname">
                    <th mat-header-cell *matHeaderCellDef> 会计姓名 </th>
                    <td mat-cell *matCellDef="let element"> {{ element.customer.accounting_fullname }} </td>
                </ng-container>
                <ng-container matColumnDef="renew_to">
                    <th mat-header-cell *matHeaderCellDef> 结束账期 </th>
                    <td mat-cell *matCellDef="let element"> {{ _formatDate(element.created_date) }} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>  

    <div class="row">
        <div class="col-3">
            </div>
            <div class="col-9">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaging($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
