<!--edit page-->
<div >
<div class="container" *ngIf="isEdit">
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['assignee']" placeholder="内勤指派" required>
                    <mat-option *ngFor="let r of _users" [value]="r.id">
                        {{r.first_name}} {{r.last_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full">
                <input type="datetime-local"  matInput [formControl]="internal['net_register_date']" placeholder="网登开始时间">
            </mat-form-field>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['net_register_status']" placeholder="网登状态">
                    <mat-option *ngFor="let r of innerStatus" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
              <mat-form-field class="full">
                <input type="datetime-local"  matInput [formControl]="internal['appointment_date']" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}" placeholder="约号日期及时间" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['external_assignee']" placeholder="外勤指派">
                    <mat-option *ngFor="let r of _users" [value]="r.id">
                        {{r.first_name}} {{r.last_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
            <div fxFlex="100%">
                <mat-form-field class="full">
                    <input matInput [formControl]="internal['remarks']" placeholder="备注">
                </mat-form-field>
            </div>
        </div>
          <!--File uploads-->
        <app-file-upload (onFileDropped)="onFileDropped($event)" [uploads]="selectedItem['files']"></app-file-upload>
        <!--//-->

</div>

<!--view page-->
<div class="" *ngIf="!isEdit && selectedItem">
    <table class="table">
        <tr>
            <td>内勤姓名</td>
            <td><b>{{findUserName(selectedItem['assignee'])}}</b></td>
            <td>网登时间</td>
            <td><b>{{formatDate(selectedItem['net_register_date'])}}</b></td>
        </tr>
        <tr>
            <td>外勤姓名</td>
            <td><b>{{findUserName(selectedItem['external_assignee'])}}</b></td>
            <td>网登状态</td>
            <td><b>{{getNetStatus(selectedItem['net_register_status'])}}</b></td>
        </tr>
        <tr>
            <td>备注</td>
            <td><b>{{selectedItem['remarks']}}</b></td>
        </tr>
    </table>
</div>
</div>