<!--edit page-->
<div >
<div class="container frame-1" *ngIf="isEdit">
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['assignee']" placeholder="内勤指派" required>
                    <mat-option *ngFor="let r of users" [value]="r.id">
                        {{r.first_name}} {{r.last_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full">
                <input type="datetime-local"  matInput [formControl]="internal['net_register_date']" placeholder="网登开始时间">
            </mat-form-field>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['net_register_status']" placeholder="网登状态">
                    <mat-option *ngFor="let r of innerStatus" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
              <mat-form-field class="full">
                <input type="datetime-local"  matInput [formControl]="internal['appointment_date']" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}" placeholder="约号日期及时间" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field class="full">
                <mat-select [formControl]="internal['external_assignee']" placeholder="外勤指派">
                    <mat-option *ngFor="let r of users" [value]="r.id">
                        {{r.first_name}} {{r.last_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
            <div fxFlex="100%">
                <mat-form-field class="full">
                    <input matInput [formControl]="internal['remarks']" placeholder="备注">
                </mat-form-field>
            </div>
        </div>
          <!--File uploads-->
        <app-file-upload (onFileDropped)="onFileDropped($event)"></app-file-upload>
        <!--//-->

</div>

<!--view page-->
<div class="" *ngIf="!isEdit">
    <table class="table">
        <tr>
            <td>内勤姓名</td>
            <td>{{selectedItem['fullname'] || ''}}</td>
            <td>成本价格</td>
            <td>{{selectedItem['cost']}}</td>
        </tr>
        <tr>
            <td>顾问姓名</td>
            <td>{{selectedItem['assignee']}}</td>
            <td>联系人姓名</td>
            <td>{{selectedItem['first_name']}}&nbsp;{{selectedItem['last_name']}}</td>
        </tr>
        <tr>
            <td>微信号</td>
            <td>{{selectedItem['wechat_id']}}</td>
            <td>电话</td>
            <td>{{selectedItem['cell_phone']}} / {{selectedItem['work_phone']}}</td>
        </tr>
        <tr>
            <td>所在城区</td>
            <td>{{selectedItem['city']}}</td>
            <td>邮箱</td>
            <td>{{selectedItem['customer_email']}}</td>
        </tr>
        <tr>
            <td>付款金额</td>
            <td>{{selectedItem['payment_amount']}} </td>
            <td>注册地址</td>
            <td>{{selectedItem['office_address']}}</td>
        </tr>
        <tr>
            <td>是否交费</td>
            <td>{{selectedItem['is_paied']}}</td>
            <td>办公地址</td>
            <td>{{selectedItem['registered_address']}}</td>
        </tr>
        <tr>
            <td>付款方式</td>
            <td>{{selectedItem['way_of_payment']}}</td>
            <td>法人姓名</td>
            <td>{{selectedItem['legal_fullname']}}</td>
        </tr>
        <tr>
            <td>客户来源</td>
            <td>{{selectedItem['lead_source']}}</td>
            <td>档案位置</td>
            <td>{{selectedItem['doc_location']}}</td>
        </tr>
        <tr>
            <td>纳税人类型</td>
            <td>{{selectedItem['legal_type']}}</td>
            <td>税控类型</td>
            <td>{{selectedItem['tax_type']}}</td>
        </tr>
        <tr>
            <td>所述行业</td>
            <td>{{selectedItem['business_type']}}</td>
            <td>顾问备注</td>
            <td>{{selectedItem['remarks']}}</td>
        </tr>
    </table>
</div>
</div>