<mat-sidenav-container class="sidebar-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidebar-1">
                <div class="list-group panel">
                    <div class="list-group-item" *ngIf="isAuth"><a>{{currentUser.username}}</a></div>
                    <div class="list-group-item"><a>aa</a></div>
                    <div class="list-group-item" *ngIf="!isAuth"><a (click)="login()">登录</a></div>
                    <div class="list-group-item" *ngIf="isAuth"><a (click)="logout()">注销</a></div>
                </div>
        </mat-sidenav>
      
        <mat-sidenav-content>
        <app-navbar (toggle)="sidenav.toggle()"></app-navbar>
        <div class="row d-flex justify-content-center">
        <router-outlet ></router-outlet>
        </div>
        </mat-sidenav-content>
      </mat-sidenav-container>