<!--edit page-->
<div>
<div class="container" *ngIf="isEdit ">
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="25%">
            <mat-form-field class="full">
                <mat-select [formControl]="external['status']" placeholder="外勤状态">
                    <mat-option *ngFor="let r of externalStatus" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="75%">

        </div>
    </div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
            <div fxFlex="100%">
                <mat-form-field class="full">
                    <input matInput [formControl]="external['remarks']" placeholder="备注">
                </mat-form-field>
            </div>
        </div>
          <!--File uploads-->
        <app-file-upload (onFileDropped)="onFileDropped($event)" [uploads]="selectedItem['files']"></app-file-upload>
        <!--//-->

</div>

<!--view page-->
<div class="" *ngIf="!isEdit && selectedItem">
    <table class="table">
        <tr>
            <td>状态</td>
            <td><b>{{getStatus(selectedItem['status'])}}</b></td>
            <td>备注</td>
            <td><b>{{selectedItem['remarks']}}</b></td>
        </tr>
      
        
    </table>
</div>
</div>