@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-full-width {
    width: 100%;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.fa,.material-icons {
    cursor: pointer;
}

.material-icons:hover {
    color: orange;
}

.fa:hover {
    color: orange;
}

.spinner-1 {
    margin: 0 10px;
    opacity: 0.5;
}

.full {
    width: 100%;
}

@media only screen and (min-width: 800px) { 
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 60%;
    }  
}

@media only screen and (max-width: 600px) { 
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
