@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-full-width {
    width: 100%;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.fa,.material-icons {
    cursor: pointer;
}

.material-icons:hover {
    color: orange;
}

.fa:hover {
    color: orange;
}

.spinner-1 {
    margin: 0 10px;
    opacity: 0.5;
}

.full {
    width: 100%;
}

.link-1 {
    font-size: 15px;
    text-decoration: underline;
    color: #606060;
    cursor: pointer;
  }

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

@media only screen and (min-width: 800px) { 
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 60%;
    }  
}

@media only screen and (max-width: 600px) { 
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
