<!--detail page-->
<div class="container" *ngIf="isDetail">
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="70%">
            <table class="table">
                <tr>
                    <td>联系人</td>
                    <td>{{selectedLead['contact_name']}}</td>
                </tr>
                <tr>
                    <td>地区</td>
                    <td>{{selectedLead['city']}}</td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td>{{selectedLead['contact_phone']}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{selectedLead['contact_email']}}</td>
                </tr>
                <tr>
                    <td>来源</td>
                    <td>{{selectedLead['source_name']}}</td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>{{selectedLead['status_name']}} </td>
                </tr>
                <tr>
                    <td>办理人</td>
                    <td>{{displayUser(selectedLead['assignee'])}}</td>
                </tr>
            </table>
            <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <button mat-raised-button (click)="onCancel(false)">退出</button>
                <button mat-raised-button (click)="onEditLead(selectedLead)">编辑</button>
                <button mat-raised-button (click)="onCreatJob(selectedLead['id'])" *ngIf="!selectedLead['jobs'] || selectedLead['jobs']?.length==0" >生成订单</button>
                <span  *ngIf="selectedLead['jobs']?.length>0">已生成订单</span>
            </div>
        </div>


        <div fxFlex="30%">
            <div class="mb-2">
                <mat-form-field class="full">
                    <mat-select [formControl]="note['contact_type']" placeholder="联系方式" required>
                        <mat-option *ngFor="let r of contact_type" [value]="r.id">
                            {{r.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="note['contact_type'].hasError('required')">
                        请输入联系方式
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full">
                <input matInput #message maxlength="512" [formControl]="note['message']" placeholder="Message" required>
                <mat-error *ngIf="note['message'].hasError('required')">
                    请输入留言
                </mat-error>
              </mat-form-field>
                <button mat-raised-button (click)="onAddNode()">添加</button>
            </div>
            <mat-list-item role="listitem" *ngFor="let n of notes">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-subtitle>{{getContactType(n['contact_type'])}} {{n['created_date']}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{n['message']}}
                        </p>
                    </mat-card-content>
                </mat-card>
                <hr>
            </mat-list-item>
        </div>
    </div>


</div>
<!--edit page-->
<div class="container" *ngIf="isEdit">
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="33%">
            <mat-form-field class="full">
                <input matInput [formControl]="lead['contact_name']" placeholder="联系人" required>
            </mat-form-field>
            <mat-error *ngIf="lead['contact_name'].hasError('required')">
                请输入联系人
            </mat-error>
        </div>
        <div fxFlex="33%">
            <mat-form-field class="full">
                <input matInput [formControl]="lead['contact_phone']" placeholder="联系电话" required>
            </mat-form-field>
            <mat-error *ngIf="lead['contact_phone'].hasError('required')">
                请输入联系电话
            </mat-error>
        </div>
        <div fxFlex="33%">
            <mat-form-field class="full">
                <input matInput [formControl]="lead['contact_email']" placeholder="联系邮箱">
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="33%">
            <mat-form-field class="full">
                <mat-select [formControl]="lead['source_id']" placeholder="来源" required>
                    <mat-option *ngFor="let r of lead_source" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="lead['source_id'].hasError('required')">
                请输入来源
            </mat-error>
        </div>
        <div fxFlex="33%">
            <mat-form-field class="full">
                <input matInput [formControl]="lead['city']" placeholder="地区">
            </mat-form-field>

        </div>
        <div fxFlex="33%">
            <!--<span *ngIf="lead['assignee'].value">{{(lead['assignee'].value}}</span>-->
            <mat-form-field>
                <mat-select [formControl]="lead['assignee']" placeholder="办理人">
                    <mat-option *ngFor="let r of users" [value]="r.id">
                        {{r.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex="33%">
            <mat-form-field>
                <mat-select [formControl]="lead['status']" placeholder="状态" required>
                    <mat-option *ngFor="let r of lead_status" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="lead['status'].hasError('required')">
                请选择状态
            </mat-error>
        </div>
        <div fxFlex="33%"></div>
        <div fxFlex="33%"></div>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <button mat-raised-button (click)="onSave()">保存</button>
        <button mat-raised-button (click)="onCancel(false)">取消</button>
    </div>
</div>
<!-- Content table -->
<div class="container-fluid" *ngIf="!isEdit && !isDetail">
    <div class="row">
        <div class="col-3">
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="起止时间" [formControl]="filter['date_from']">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="终止时间" [formControl]="filter['date_to']">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['lead_source']" placeholder="来源">
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['city']" placeholder="地区">
            </mat-form-field>
        </div>
        <div class="col-1">
            <div class="row">
                <div class="col-6">
                    <button mat-raised-button (click)="getLeads()">搜索</button>
                </div>
                <div class="col-6">
                    <button mat-raised-button (click)="onRefresh()">刷新</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <mat-form-field>
                <mat-select [formControl]="filter['status']" placeholder="状态" required>
                    <mat-option *ngFor="let r of lead_status" [value]="r.id">
                        {{r.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field>
                <mat-select [formControl]="filter['assignee']" placeholder="人员" required>
                    <mat-option *ngFor="let r of users" [value]="r.id">
                        {{r.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="full">
                <input matInput [formControl]="filter['search']" placeholder="模糊查询">
            </mat-form-field>
        </div>
        <div class="col-2">
            <!--<button  mat-raised-button>导出</button>-->
        </div>
    </div>
    <div class="mt-2 mb-2">
        <button class="btn-add" mat-mini-fab aria-label="添加" (click)="onAddLead()">
            <mat-icon aria-label="Add new lead" class="material-icons">add</mat-icon>
        </button>
    </div>
    <mat-progress-spinner class="spinner-1" color="accent" mode="indeterminate" diameter="40" value=30
        *ngIf="isLoading">
    </mat-progress-spinner>
    <mat-paginator [length]="Pagelength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = onPaging($event)">
    </mat-paginator>
    <table class="table" mat-table [dataSource]="leads" class="mat-elevation-z8">
        <ng-container matColumnDef="selected">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="contact_name">
            <th mat-header-cell *matHeaderCellDef> 联系人 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_name}} </td>
        </ng-container>
        <ng-container matColumnDef="contact_phone" fxFlex="10%">
            <th mat-header-cell *matHeaderCellDef> 联系方式 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_phone}} </td>
        </ng-container>
        <ng-container matColumnDef="source_name">
            <th mat-header-cell *matHeaderCellDef> 来源 </th>
            <td mat-cell *matCellDef="let element"> {{element.source_name}} </td>
        </ng-container>
        <ng-container matColumnDef="contact_email">
            <th mat-header-cell *matHeaderCellDef> 邮箱 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_email}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> 地区 </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
        <ng-container matColumnDef="status_name">
            <th mat-header-cell *matHeaderCellDef> 状态 </th>
            <td mat-cell *matCellDef="let element">
                {{element.status_name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef> 办理人 </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" *ngIf="!element.assignee" (click)="onAssign(element.id)">领取
                </button>
                <span>{{displayUser(element.assignee)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="OnDetail(element.id)" *ngIf="element.has_details">详情 </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="updated_date">
            <th mat-header-cell *matHeaderCellDef class="cell_datetime"> </th>
            <td mat-cell *matCellDef="let element"> {{element.updated_date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>