table {
    width: 100%;
}

table mat-header-cell {
    margin-left: 5px;
    margin-right: 5px;
}

.cell_datetime {
    width: 150px;
}

.btn-add {
    background-color: #275B89;
    color: white;
}

.chip-1 {
    border-radius: 10px;
    font-size: 12px;
}

