
<!-- Content table -->
<div class="container" *ngIf="!isEdit">
    <p>
        <mat-icon aria-label="Add new lead" class="material-icons" (click)="onAdd()">add</mat-icon>
    </p>
    <mat-progress-spinner
        class="spinner-1"
        color="accent"
        mode="indeterminate"
        diameter="40"
        value=30 *ngIf="isLoading">
    </mat-progress-spinner>

    <table mat-table [dataSource]="leads" class="mat-elevation-z8">
        <ng-container matColumnDef="contact_name">
            <th mat-header-cell *matHeaderCellDef> 联系人 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_name}} </td>
        </ng-container>
        <ng-container matColumnDef="contact_phone">
            <th mat-header-cell *matHeaderCellDef> 联系方式 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_phone}} </td>
        </ng-container>
        <ng-container matColumnDef="contact_email">
            <th mat-header-cell *matHeaderCellDef> 邮箱 </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_email}} </td>
        </ng-container>
        <ng-container matColumnDef="status_name">
            <th mat-header-cell *matHeaderCellDef> 状态 </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.status_name}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="source_name">
            <th mat-header-cell *matHeaderCellDef> 线索 </th>
            <td mat-cell *matCellDef="let element"> {{element.source_name}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>