.radio-group-1 {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .radio-button-1 {
    margin: 5px;
  }

  .frame-1 {
    border: 1px solid #597280;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
  }

  .table td {
    width: 200px;
  }

  